[project]
	description = site to show off some of my development
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mlegendre
[access "refs/for/refs/*"]
	read = group user/mlegendre
	push = group user/mlegendre
	label-Code-Review = -2..+2 group user/mlegendre
	label-Verified = -1..+1 group user/mlegendre
	rebase = group user/mlegendre
	removeReviewer = group user/mlegendre
	submit = group user/mlegendre
[access "refs/heads/*"]
	read = group user/mlegendre
	create = group user/mlegendre
	push = +force group user/mlegendre
	pushMerge = group user/mlegendre
[access "refs/tags/*"]
	push = +force group user/mlegendre
	pushTag = group user/mlegendre
	pushSignedTag = group user/mlegendre
